/*bulma css framework*/
:root{
    --main-color: rgb(170, 5, 5);
    --hover-color: rgb(106, 12, 11);
    --body-color: rgb(185, 125, 16);
    --box-color: rgb(251, 202, 3);
    --text-color: rgb(103, 199, 235);
    --marvel: "Marvel", sans-serif;
    /* --box-radius: border-radius: 25px; */
    }

*   {
    font-family: 'Marvel', sans-serif;
    font-weight: 700;
}

html{
    scroll-behavior: smooth;
}

#bodyEl {
    background-color: var(--hover-color);
    min-height: 100vh;
}

#titleEl    {
    color: var(--text-color);
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;

}
.cardTitle{
    font-size: 32px;
    font-weight: 700;
    
}
.column {
    background-color: var(--main-color);
    border-style: ridge;
    border-width: 4px;
    border-color: var(--body-color);
    color: var(--text-color);
    transition: 1s linear;
    /* box-shadow: 0px 0px 10px rgb(103, 199, 235); */
} 
/* SearchBar and header Styling */
#searchBar  {
    background-color: var(--main-color);
    width: fit-content;
}
#searchBar:hover{
    box-shadow: 3px 3px 5px var(--text-color);
}
#search-button  {
    background-color: var(--box-color);
    color: var(--hover-color);
    transition: 1s linear;
}
#search-button:hover{
    box-shadow: 3px 3px 5px var(--text-color);
}
#header {
    background-color: var(--main-color);
    border-style: ridge;
    border-width: 5px;
    border-color: var(--body-color);
}
.reel   {
    color:var(--box-color);
    font-size: 3rem;
    transition: 1s linear;
    -webkit-animation: colorchange 5s infinite;
}
.reel:hover  {
    color: var(--text-color);
}
#currentDay {
    color: var(--box-color);
    text-align: center;
    font-size: 1.4rem;
}

/* dashboard main styling */
.column:hover   {
    border-color: var(--text-color);
}
.movie:hover {
    box-shadow: 3px 3px 5px var(--text-color);
    /* box-shadow: -5px -5px 10px rgb(103, 199, 235); */
    cursor: pointer;
} 

/* Modal settings */
.modal-content {
    background-color: var(--main-color);
    color: var(--text-color);
    border: 5px ridge var(--body-color);
    border-radius: 15px;
}
#modal-image:hover  {
    cursor:pointer;
}
#cycle-left:hover   {
    cursor:pointer;
}
#cycle-right:hover  {
    cursor:pointer;
}

/* info-page */
#infoBody   {
    background-color: var(--hover-color);
    min-height: 100vh;
}
#infoMain   {
    min-height: 100vh;
}
#homeButton {
    background-color: var(--box-color);
    color: var(--hover-color);
    font-weight: 700;
    font-size: 1.2rem;
    /* padding-right: 5px; */
    text-align: center;
    font-family: var(--marvel);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    transition: 1s linear;
}
#homeButton:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px var(--text-color);
}
.title  {
    color: var(--text-color);
}
#info-page-time  {
    font-size: 1.75rem;
}
#title {
    color: var(--text-color);
}
#info-page-description-title {
    color: var(--text-color);
}
#info-page-similar-results  {
    color: var(--text-color);
}
/* Icon Classes for Movie, Show, Comic/Book */
.tvIcon  {
    color:var(--box-color);
    font-size: 2rem;
    /* <i class="fas fa-tv"></i> */
}
.movieIcon  {
    color:var(--box-color);
    font-size: 2rem;
    /* <i class="fas fa-ticket-alt"></i> */
}
.comicIcon  {
    color:var(--box-color);
    font-size: 2rem;
    /* <i class="fas fa-book-open"></i> */
}
/* Modal */
#modal-title    {
    color: var(--text-color);
}
#cycle-left {
    background-color: var(--box-color);
}
#cycle-right    {
    background-color: var(--box-color);
}
/* keyframes */
@-webkit-keyframes colorchange  {
    0%  {
        color:var(--box-color)
    }
    25% {
        color:var(--text-color)
    }
    75% {
        color:var(--hover-color)
    }
    100%    {
        color:var(--box-color)
    }
}
@-webkit-keyframes glow {
    framework{
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to  {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}