/*bulma css framework*/


:root{
    --main-color: rgb(170, 5, 5);
    --hover-color: rgb(106, 12, 11);
    --body-color: rgb(185, 125, 16);
    --box-color: rgb(251, 202, 3);
    --text-color: rgb(103, 199, 235);
    /* --box-radius: border-radius: 25px; */
    }

*   {
    font-family: 'Marvel', sans-serif;
    font-weight: bold 700;
}

#bodyEl {
    background-color: var(--hover-color);
}

.cardTitle{
    font-size: 32px;
    font-weight: bold 700;
    
}
.column {
    background-color: var(--main-color);
    border-style: ridge;
    border-width: 4px;
    border-color: var(--body-color);
    color: var(--text-color);
} 
#searchBar  {
    background-color: var(--main-color);
}
#search-button  {
    background-color: var(--box-color);
    color: var(--hover-color);
}
#header {
    background-color: var(--main-color);
    border-style: ridge;
    border-width: 5px;
    border-color: var(--body-color);
}
.card:hover {
    box-shadow: 5px, 5px, 5px, var(--hover-color);
    cursor: pointer;
}
